<form [formGroup]="singleFormInput " (ngSubmit)="onSubmit()" style='text-align: center;'>
    <div class="form-group">
        <div class='mx-auto' style="max-width: 70%;">
            <input appInputFocus type='text' id="singleInput" class="form-control"
                placeholder="Please input a Name or latitude;longitude of the city" formControlName="information"
                style='text-align:center' autocomplete="off" autofocus />

            <div *ngIf="information.invalid && (information.dirty || information.touched)" class="alert alert-danger">

                <div *ngIf="information.errors.required">
                    An input is required : you can eather use the name of city or lat;long
                </div>
                <div *ngIf="information.errors.forbiddenName">
                    This city cannot be displayed.
                </div>

            </div>
        </div>

    </div>
    <button appLoadingButton loader="/assets/images/spinner.gif" type='submit' class="btn btn-primary mb-4"
        [disabled]="!singleFormInput.valid" i18n="send button|text on the input of send button">Display</button>
</form>