<div *ngIf="meteoData?.city">
    <div class="container">
        <div class="row justify-content-center">
            <div id="compo"
                [ngClass]="{'col-md-8 col-lg-6 col-sm-12':displayMethod === 'current', 'w-100 col-12':displayMethod === 'forecast'}">
                <div class="card p-2 border border-secondary">
                    <div class="d-flex flex-wrap">
                        <h2 class="flex-grow-1">{{meteoData.city}}</h2>
                        <h2>{{meteoData.date | date}}</h2>
                    </div>
                    <div class="d-flex flex-column temp mt-4 mb-3">
                        <h1 class="font-weight-bold" id="heading">
                            <ng-container>{{meteoData.temp}}° C
                            </ng-container>
                        </h1>
                        <span class="">{{meteoData.description}}</span>
                    </div>
                    <div class="d-flex">
                        <div class="temp-details flex-gro   w-1">
                            <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span>
                                    {{meteoData.wind}} km/h
                                </span> </p>
                            <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span>
                                    {{meteoData.humidity}} % </span> </p>

                        </div>
                        <div> <img src="http://openweathermap.org/img/wn/{{meteoData.icon}}@2x.png" width="100px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>