/* Set a background image by replacing the URL below */
.app-title{
    font-family: lobster;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .dropdown-menu{
     min-width: 0px;
     width: auto;
 }
 .langpicture{
     width:20px;
     height: auto;
 }