/* Set a background image by replacing the URL below */
.app-title{
    font-family: lobster;
}


.custom-popover li {
    border: none!important;
    text-align: center;
    background-color:black;color:white


  }
