<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body">

            <div class="dropdown" style="position:absolute; right: 30px;top:10px">
                <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Langues
                </div>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <button (click)="changelanguage($event)" class="dropdown-item" value='fr'><img class="langpicture"
                            src="assets/fr.png" /> fr</button>
                    <button (click)="changelanguage($event)" class="dropdown-item" value='en'><img class="langpicture"
                            src="assets/en.png" /> en</button>
                </div>
            </div>



            <div class='card-title text-center display-3 app-title'>{{title}}</div>
            <div class='mt-5'>
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>