<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-6 pt-0" style='text-decoration: underline;'
                i18n="localisation method|A phrase to ask the customer to choose his localisation method">Choose your
                localisation
                method :</legend>
            <div class="col-sm-6">
                <div class="form-check" *ngFor="let method of methods">
                    <input class="form-check-input" type="radio" name="enums" id="{{method.name}}" [value]="method.name"
                        (click)="changeMethod($event)" [checked]="method.name == 'City'">
                    <label class=" form-check-label" for="{{method.name}}"
                        i18n="checkboxcontext|translate the different localisation method">
                        {method.name, select, City {City}, Geographic {Geographic}}
                    </label>

                </div>
            </div>
        </div>
    </fieldset>
    <div *ngIf='formMethod.method'>
        <div class="form-group">
            <div class='mt-3' *ngFor='let input of formInputs'>
                <label for="{{input}}"> {{input}}</label>
                <input id="{{input}}" type='text' placeholder="Please input a Location" i18n-placeholder
                    class="form-control localisation" formControlName="{{input}}" />

            </div>

        </div>
        <button type='submit' class="btn btn-primary mb-4"
            i18n="send button|text on the input of send button">Send</button>
    </div>
</form>