<div *ngIf='informations'>
    <h1 class="center">Current weather for {{informations.name}}</h1>
    <table>
        <tbody>
            <tr>
                <td>
                    <h3>Current Temperature:</h3>
                </td>
                <td>
                    <h3>{{informations.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Maximum Temperature:</h3>
                </td>
                <td>
                    <h3>{{informations.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Minimum Temperature:</h3>
                </td>
                <td>
                    <h3>{{informations.main?.temp_min - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Clouds:</h3>
                </td>
                <td>
                    <h3>{{informations.clouds?.all}}%</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Humidity</h3>
                </td>
                <td>
                    <h3>{{informations.main?.humidity}}%</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Pressure</h3>
                </td>
                <td>
                    <h3>{{informations.main?.pressure}}mb</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Sunrise</h3>
                </td>
                <td>
                    <h3>{{informations.sys?.sunrise*1000 | date:'long'}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Sunset</h3>
                </td>
                <td>
                    <h3>{{informations.sys?.sunset*1000 | date:'long'}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Visibility</h3>
                </td>
                <td>
                    <h3>{{informations.visibility}}m</h3>
                </td>
            </tr>
        </tbody>
    </table>
</div>