<mat-card class="mat-elevation-z5" *ngIf="weather_information ">
  <mat-card-header>
    <mat-card-title>{{weather_information.name}}'s weather</mat-card-title>
    <mat-card-subtitle>Date: {{weather_date | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-row">
      <div class="temp">
        <span class="big-text mb-2">{{weather_information.main.temp -273 | number:'0.0-0'}} C</span>
        <span>Feels like </span>
        <span>{{weather_information.main.feels_like -273   | number: '0.0-0'}} C</span>
      </div>
      <div class="outlook">
        <img mat-card-image src="http://openweathermap.org/img/wn/{{weather_information.weather[0].icon}}@2x.png" />
        <span>{{weather_information.weather[0].description | titlecase}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>