<form [formGroup]="formMethods">
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-6 pt-0" style='text-decoration: underline;'
                i18n="localisation method|A phrase to ask the customer to choose his localisation method@@CityChoice">
                Choose your localisation method :</legend>
            <div class="col-sm-6">
                <div class="form-check">
                    <label>
                        <input class="form-check-input" type="radio" value="cityName" formControlName="method">With
                        City Name
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input class="form-check-input" type="radio" value="cityPos" formControlName="method">With City
                        coordinate
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</form>