<app-single-form></app-single-form>
<div *ngIf='cityQueryParam || longQueryParam'>
    <div class='flex-container'>
        <div>
            <a [routerLink]="['current']" queryParamsHandling='preserve' class="btn btn-success"
                i18n="button current weather">Current</a>
        </div>
        <div>

            <a [routerLink]="['forecast']" queryParamsHandling='preserve' class="btn btn-success"
                i18n="button forecast weather">Forecast</a>

        </div>

    </div>

</div>



<router-outlet></router-outlet>