.flex-container > div {
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .flex-container > div > a{
width: 100%;
  }

  .flex-container {
    display: flex;
    justify-content: center;
  }
  